
slides/beamerouterthemechspinfolines.sty
slides/beamerthemeZurich.sty
slides/figures/20mostPopularFeb2019.png
slides/figures/7mostDemanded2019.png
slides/figures/8b133fc1-skier-stuck-in-snow.jpg
slides/figures/Breast-Biopsy-2.jpg
slides/figures/colab1.png
slides/figures/colab2.png
slides/figures/correlation.png
slides/figures/covidDecreti.png
slides/figures/f737c96e-beginner-skier.jpg
slides/figures/fna-benign1.png
slides/figures/fna-malignant1.png
slides/figures/helloWorld.png
slides/figures/HelloWorldAfter.png
slides/figures/HelloWorldjupyterlab.png
slides/figures/itDoesTheJob.jpg
slides/figures/jupyterCollections.png
slides/figures/jupyterDataTypes.png
slides/figures/jupyterDataTypes2.png
slides/figures/kahoot.jpg
slides/figures/keywords.png
slides/figures/keywords2.png
slides/figures/knimepipeline.png
slides/figures/lecturePlan.png
slides/figures/lstSet.key
slides/figures/lstSet.pdf
slides/figures/makeWordCloud.png
slides/figures/P1.pdf
slides/figures/python-logo.png
slides/figures/repl.png
slides/figures/replNew.png
slides/figures/stockMarket.png
slides/figures/tiobe02_2021.png
slides/figures/whats_ml.jpg
slides/figures/wordcloud.png
slides/introduction.aux
slides/introduction.log
slides/introduction.nav
slides/introduction.out
slides/introduction.snm
slides/introduction.synctex.gz
slides/introduction.tex
slides/introduction.toc
slides/introduction.vrb
slides/lecture-plan.tex
slides/live.aux
slides/live.tex
slides/macros.tex
slides/mibmrcfg.sty
slides/references.aux
slides/references.tex
jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/bettingMarket-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/fna-benign1-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/P1-checkpoint.pdf
jupyter/jupyterNotebooks/images/tentativeLecturePlan.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/kahootHeadhace-checkpoint.jpeg
